<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>head 1</th>
            <th>head 2</th>
            <th>head 3</th>
            <th>head 4</th>
        </thead>
        <tbody>
            <tr>row 1</tr>
            <tr>row 1</tr>
            <tr>row 1</tr>
            <tr>row 1</tr>
        </tbody>
    </table>
</body>
</html>